.hidden{
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #fff;
}

header {
    background-color: grey;
    /*padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px; */
    padding: 10px 0;
}

#main-logo {
    display: block;
    width: 300px;
    margin: 0 auto;

}

#character-nav {
    background-color: #675050;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url('../images/characters_bg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

#characters {
    list-style-type: none;
    padding: 0;
    text-align: center;

}
#characters li {
    display:inline;
    margin: 10px
}
#characters li img {
    border: solid 1px #fff;
    padding: 10px;
    border-radius: 25%;
    background-color: black;
    box-shadow: 0px 0px 25px 0; color:black;
    transition:all, rotate 1s;
}

#characters li a {
    text-decoration: none;
}

#characters li img:hover {
    border-radius: 50%;
    background-color: black;
    width:268px;
    height:268px;
    rotate:360deg;

}

#instructions {
    padding: 20px;

}

#instructions h3 {
    font-size: 32px;
    text-align: center;
}

#instructions p {
    font-size: 18px;
    text-align: center;
}

#main-footer {
    text-align: center;
    height: 80px;
    background-color: rgb(40, 37, 37);
    padding: 20px;

}

/*Lightbox rules!*/

.lightbox {
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    background-color: rgba(0,0,0,0.85);
    display:none;
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;

}

.lightbox:target {
    display:block;
}

#lightbox1 {
    background-image: url(../images/full_mahito_css_styling.png);
}

#lightbox2 {
    background-image: url(../images/full_sukuna_css_styling.png)
}

#lightbox3 {
    background-image: url(../images/full_kenjaku_css_styling.png)
}

#lightbox4 {
    background-image: url(../images/full_geto_css_styling.png)
}

.lightbox-close {
    color:white;
    font-size:120px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 95vw;
    transition: all .2s ease-in-out;
}

.lightbox-close:hover {
    color: red;

}

.lightbox section {
    width:600px;
    margin-left: 40%;
    margin-top: 50px;
}

.lb-heading {
    font-size: 32px;
}

.lightbox p {
    line-height: 26px;
}